---
http_interactions:
- request:
    method: post
    uri: https://plus.dnb.com/v2/token
    body:
      encoding: UTF-8
      string: '{ "grant_type" : "client_credentials" }'
    headers:
      Authorization:
      - Basic ZDc5ZTUwNjIwZDI0NGQ0OGExYTNjNTYxYjU0MzU0ODE3M2QxZDE3YTdkYzY0ODIxYmM0ZDYzZjRiYTMxMDc2ZTpkOTY0ZDdlMTkzNzI0NDM4OWVjNjBhYzQ5YzMyMTk1Y2YwMDU0NjY2M2M1NTQ2YjM4ZWVjMWRiZWJjNTY4Mjlh
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token":"54g7TT0X1H14EnUm0618z824i6A2","expiresIn":86400}'
  recorded_at: Sun, 24 Jan 2021 10:07:22 GMT
- request:
    method: get
    uri: https://plus.dnb.com/v1/match/cleanseMatch?countryISOAlpha2Code=GB&name=Market%20Dojo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 54g7TT0X1H14EnUm0618z824i6A2
  response:
    status:
      code: 200
      message: OK
    headers:
      Candidatesreturnedquantity:
      - '10'
      Content-Type:
      - application/json;charset=UTF-8
      Direct-Plus-Product:
      - ''
      X-Request-Status:
      - success
      X-Tracy-Annotations:
      - lookupType,NA,engineName,NextGen
    body:
      encoding: UTF-8
      string: '{"transactionDetail":{"transactionID":"rrt-0cba0815aed77662f-c-eu-7495-56335946-32","transactionTimestamp":"2021-01-24T10:07:22.506Z","inLanguage":"en-US","serviceVersion":"1"},"inquiryDetail":{"name":"Market
        Dojo","address":{"countryISOAlpha2Code":"GB"}},"candidatesMatchedQuantity":10,"matchDataCriteria":"Name
        and Address Lookup","matchCandidates":[{"displaySequence":1,"organization":{"duns":"216832106","websiteAddress":[],"dunsControlStatus":{"operatingStatus":{"description":"Active","dnbCode":9074},"isMailUndeliverable":false},"primaryName":"MARKET
        DOJO LTD","tradeStyleNames":[],"telephone":[{"telephoneNumber":"01174566817","isUnreachable":false}],"primaryAddress":{"addressCountry":{"isoAlpha2Code":"GB","name":"United
        Kingdom"},"addressLocality":{"name":"BRISTOL"},"addressRegion":{},"postalCode":"BS7
        8EL","postalCodeExtension":null,"streetAddress":{"line1":"11 Wolseley Road","line2":null}},"mailingAddress":{"addressCountry":{"isoAlpha2Code":"GB","name":"United
        Kingdom"},"addressLocality":{},"addressRegion":{},"postalCode":null,"postalCodeExtension":null,"streetAddress":{}},"registrationNumbers":[{"registrationNumber":"07332766","typeDescription":"COMPANIES
        REGISTRY OFFICE Number (GB)","typeDnBCode":2541}],"mostSeniorPrincipals":[{"fullName":"ALUN  RAFIQUE"}],"isStandalone":true,"corporateLinkage":{}},"matchQualityInformation":{"confidenceCode":6,"matchGrade":"AZZZZZZZZBZ","matchGradeComponentsCount":11,"matchGradeComponents":[{"componentType":"Name","componentRating":"A"},{"componentType":"Street
        Number","componentRating":"Z"},{"componentType":"Street Name","componentRating":"Z"},{"componentType":"City","componentRating":"Z"},{"componentType":"State","componentRating":"Z"},{"componentType":"PO
        Box","componentRating":"Z"},{"componentType":"Phone","componentRating":"Z"},{"componentType":"Postal
        Code","componentRating":"Z"},{"componentType":"Density","componentRating":"Z"},{"componentType":"Uniqueness","componentRating":"B"},{"componentType":"Sic","componentRating":"Z"}],"matchDataProfile":"0099999998999899000098000098","matchDataProfileComponentsCount":14,"matchDataProfileComponents":[{"componentType":"Name","componentValue":"00"},{"componentType":"Street
        Number","componentValue":"99"},{"componentType":"Street Name","componentValue":"99"},{"componentType":"City","componentValue":"99"},{"componentType":"State","componentValue":"98"},{"componentType":"PO
        Box","componentValue":"99"},{"componentType":"Phone","componentValue":"98"},{"componentType":"Postal
        Code","componentValue":"99"},{"componentType":"DUNS","componentValue":"00"},{"componentType":"SIC","componentValue":"00"},{"componentType":"Density","componentValue":"98"},{"componentType":"Uniqueness","componentValue":"00"},{"componentType":"National
        ID","componentValue":"00"},{"componentType":"URL","componentValue":"98"}],"nameMatchScore":100.0}},{"displaySequence":2,"organization":{"duns":"210584234","websiteAddress":[],"dunsControlStatus":{"operatingStatus":{"description":"Active","dnbCode":9074},"isMailUndeliverable":false},"primaryName":"The
        Dojo","tradeStyleNames":[],"telephone":[{"telephoneNumber":"07930498392","isUnreachable":false}],"primaryAddress":{"addressCountry":{"isoAlpha2Code":"GB","name":"United
        Kingdom"},"addressLocality":{"name":"SIDCUP"},"addressRegion":{},"postalCode":"DA14
        6RA","postal[...]
