---
http_interactions:
- request:
    method: post
    uri: https://plus.dnb.com/v2/token
    body:
      encoding: UTF-8
      string: '{ "grant_type" : "client_credentials" }'
    headers:
      Authorization:
      - Basic ZDc5ZTUwNjIwZDI0NGQ0OGExYTNjNTYxYjU0MzU0ODE3M2QxZDE3YTdkYzY0ODIxYmM0ZDYzZjRiYTMxMDc2ZTpkOTY0ZDdlMTkzNzI0NDM4OWVjNjBhYzQ5YzMyMTk1Y2YwMDU0NjY2M2M1NTQ2YjM4ZWVjMWRiZWJjNTY4Mjlh
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token":"ua9a06lSt59Aq68g83j47w09XO1j","expiresIn":86400}'
  recorded_at: Tue, 08 Dec 2020 20:34:50 GMT
- request:
    method: get
    uri: https://plus.dnb.com/v1/data/duns/216832106?customerReference=12345&orderReason=6332&productId=cmptcs&reportFormat=html&tradeUp=hq&versionId=v1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer ua9a06lSt59Aq68g83j47w09XO1j
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Direct-Plus-Product:
      - Optional[cmptcs]-Optional[v1]
      X-Request-Status:
      - success
    body:
      encoding: UTF-8
      string: '{"transactionDetail":{"transactionID":"rrt-0daa1ee1e57942d41-b-eu-18768-32924717-11_1559","transactionTimestamp":"2020-12-08T20:34:51.102Z","inLanguage":"en-US","productID":"cmptcs","productVersion":"1"},"inquiryDetail":{"productVersion":"v1","orderReason":"6332","productID":"cmptcs","customerReference":"12345","duns":"216832106","tradeUp":"hq"},"organization":{"duns":"216832106","dunsControlStatus":{"operatingStatus":{"description":"Active","dnbCode":9074},"isMarketable":false,"isMailUndeliverable":false,"isTelephoneDisconnected":false,"isDelisted":false,"subjectHandlingDetails":[{"description":"Suppress
        Telephone Number from Marketing Lists","dnbCode":2540}],"fullReportDate":"2010-08-03"},"primaryName":"MARKET
        DOJO LTD","registeredName":"MARKET DOJO LTD","tradeStyleNames":[],"doNotConfuseNames":[],"defaultCurrency":"GBP","telephone":[{"telephoneNumber":"1174566817","isdCode":"44","isUnreachable":false}],"primaryAddress":{"language":{"description":"English","dnbCode":39},"addressCountry":{"name":"United
        Kingdom","isoAlpha2Code":"GB"},"continentalRegion":{"name":"Europe"},"addressLocality":{"name":"BRISTOL"},"minorTownName":null,"addressRegion":{},"addressCounty":{},"postalCode":"BS7
        8EL","postalCodePosition":{},"streetNumber":null,"streetName":null,"streetAddress":{"line1":"11
        Wolseley Road","line2":null},"postOfficeBox":{},"latitude":51.473532,"longitude":-2.591907,"geographicalPrecision":{"description":"Street
        Address Centroid","dnbCode":30257},"isRegisteredAddress":null,"locationOwnership":{},"congressionalDistricts":[],"isResidentialAddress":null},"stockExchanges":[],"businessTrading":[],"registrationNumbers":[{"registrationNumber":"07332766","typeDescription":"COMPANIES
        REGISTRY OFFICE Number (GB)","typeDnBCode":2541}],"industryCodes":[{"code":"541512","description":"Computer
        Systems Design Services","typeDescription":"North American Industry Classification
        System 2017","typeDnBCode":30832,"priority":1},{"code":"541512","description":"Computer
        Systems Design Services","typeDescription":"North American Industry Classification
        System 2017","typeDnBCode":30832,"priority":2},{"code":"73790000","description":"Computer
        related services, nec","typeDescription":"D&B Standard Industry Code","typeDnBCode":3599,"priority":1},{"code":"73790000","description":"Computer
        related services, nec","typeDescription":"D&B Standard Industry Code","typeDnBCode":3599,"priority":2},{"[...]
