---
http_interactions:
- request:
    method: post
    uri: https://plus.dnb.com/v2/token
    body:
      encoding: UTF-8
      string: '{ "grant_type" : "client_credentials" }'
    headers:
      Authorization:
      - Basic a2V5OnNlY3JldA==
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"transactionDetail":{"transactionID":"rrt-097c1ff912c8673f5-a-eu-18254-20955681-2","transactionTimestamp":"2020-11-06T18:32:29.386Z","inLanguage":"en-US","productID":"TOKEN_GEN","productVersion":"2.0"},"error":{"errorMessage":"You
        are not currently authorised to access this product. Please contact your D&B
        account representative","errorCode":"00041"}}'
  recorded_at: Fri, 06 Nov 2020 18:32:29 GMT
recorded_with: VCR 6.0.0
