---
http_interactions:
- request:
    method: post
    uri: https://plus.dnb.com/v2/token
    body:
      encoding: UTF-8
      string: '{ "grant_type" : "client_credentials" }'
    headers:
      Authorization:
      - Basic XXXXZTUwNjIwZDI0NGQ0OGExYTNjNTYxYjU0MzU0ODE3M2QxZDE3YTdkYzY0ODIxYmM0ZDYzZjRiYTMxMDc2ZTpkOTY0ZDdlMTkzNzI0NDM4OWVjNjBhYzQ5YzMyMTk1Y2YwMDU0NjY2M2M1NTQ2YjM4ZWVjMWRiZWJjNTY4Mjlh
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token":"XXXXn64yT9j63390MbR066648NHJ","expiresIn":86400}'
  recorded_at: Fri, 06 Nov 2020 18:22:23 GMT
- request:
    method: post
    uri: https://plus.dnb.com/v1/search/criteria
    body:
      encoding: UTF-8
      string: '{"countryISOAlpha2Code":"GB","searchTerm":"Market Dojo"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer XXXXn64yT9j63390MbR066648NHJ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Request-Status:
      - success
    body:
      encoding: UTF-8
      string: '{"transactionDetail":{"transactionID":"rrt-097c1ff912c8673f5-a-eu-18254-20953278-1","transactionTimestamp":"2020-11-06T18:22:24.127Z","inLanguage":"en-US","serviceVersion":"1"},"inquiryDetail":{"countryISOAlpha2Code":"GB","searchTerm":"Market
        Dojo"},"candidatesReturnedQuantity":1,"candidatesMatchedQuantity":1,"searchCandidates":[{"displaySequence":1,"organization":{"duns":"216832106","dunsControlStatus":{"isOutOfBusiness":false,"isMarketable":false,"isTelephoneDisconnected":false,"isMailUndeliverable":false,"isDelisted":false,"subjectHandlingDetails":[{"description":"Suppress
        Telephone Number from Marketing Lists","dnbCode":2540}]},"primaryName":"MARKET
        DOJO LTD","primaryAddress":{"addressCountry":{"isoAlpha2Code":"GB","name":"United
        Kingdom"},"addressLocality":{"name":"BRISTOL"},"postalCode":"BS7 8EL","streetAddress":{"line1":"11
        Wolseley Road"},"latitude":51.473532,"longitude":-2.591907},"registeredAddress":{"addressCountry":{"isoAlpha2Code":"GB","name":"United
        Kingdom"},"addressLocality":{"name":"BRISTOL"},"postalCode":"BS7 8EL","streetName":"11,
        WOLSELEY ROAD, BISHOPSTON"},"primaryIndustryCodes":[{"usSicV4":"7379","usSicV4Description":"Computer
        related services"}],"corporateLinkage":{"isBranch":false},"financials":[{"yearlyRevenue":[{"value":2060076.0,"currency":"USD"}]}],"registrationNumbers":[{"registrationNumber":"07332766","typeDescription":"COMPANIES
        REGISTRY OFFICE Number (GB)","typeDnBCode":2541}],"numberOfEmployees":[{"value":20,"informationScopeDescription":"Individual","informationScopeDnBCode":9066,"reliabilityDescription":"Estimated","reliabilityDnBCode":9093}],"industryCodes":[{"code":"541512","description":"Computer
        Systems Design Services","typeDescription":"North American Industry Classification
        System 2017","typeDnbCode":30832,"priority":2},{"code":"541512","description":"Computer
        Systems Design Services","typeDescription":"North American Industry Classification
        System 2017","typeDnbCode":30832,"priority":1},{"code":"1119","description":"Information
        Technology Services","typeDescription":"D&B Hoovers Industry Code","typeDnbCode":25838,"priority":1},{"code":"62090","description":"Other
        information technology and computer service activities","typeDescription":"UK
        Standard Industry Code 2007","typeDnbCode":19295,"priority":1},{"code":"73790000","description":"Computer
        related services, nec","typeDescription":"D&B Standard Industry Code","typeDnbCode":3599,"priority":2},{"code":"73790000","description":"Computer
        related services, nec","typeDescription":"D&B Standard Industry Code","typeDnbCode":3599,"priority":1}],"telephone":[{"telephoneNumber":"1174566817","isdCode":"44"}],"businessEntityType":{"dnbCode":451,"description":"Corporation"},"domain":"marketdojo.com","isPubliclyTradedCompany":false,"isStandalone":true,"isFortune1000Listed":false}}]}'
  recorded_at: Fri, 06 Nov 2020 18:22:24 GMT
recorded_with: VCR 6.0.0
