---
http_interactions:
- request:
    method: post
    uri: https://plus.dnb.com/v2/token
    body:
      encoding: UTF-8
      string: '{ "grant_type" : "client_credentials" }'
    headers:
      Authorization:
      - Basic ZDc5ZTUwNjIwZDI0NGQ0OGExYTNjNTYxYjU0MzU0ODE3M2QxZDE3YTdkYzY0ODIxYmM0ZDYzZjRiYTMxMDc2ZTpkOTY0ZDdlMTkzNzI0NDM4OWVjNjBhYzQ5YzMyMTk1Y2YwMDU0NjY2M2M1NTQ2YjM4ZWVjMWRiZWJjNTY4Mjlh
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token":"hX62y11W2x96zEq8a465322C461z","expiresIn":86400}'
  recorded_at: Tue, 26 Jan 2021 17:30:25 GMT
- request:
    method: get
    uri: https://plus.dnb.com/v1/monitoring/registrations
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer hX62y11W2x96zEq8a465322C461z
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"transactionDetail":{"transactionID":"rrt-0daa1ee1e57942d41-b-eu-10744-51374544-4","transactionTimestamp":"2021-01-26T17:30:25.857Z","inLanguage":"en-US"},"messages":{"references":[]}}'
  recorded_at: Tue, 26 Jan 2021 17:30:26 GMT
recorded_with: VCR 6.0.0
