---
http_interactions:
- request:
    method: post
    uri: https://plus.dnb.com/v2/token
    body:
      encoding: UTF-8
      string: '{ "grant_type" : "client_credentials" }'
    headers:
      Authorization:
      - Basic XXXXZTUwNjIwZDI0NGQ0OGExYTNjNTYxYjU0MzU0ODE3M2QxZDE3YTdkYzY0ODIxYmM0ZDYzZjRiYTMxMDc2ZTpkOTY0ZDdlMTkzNzI0NDM4OWVjNjBhYzQ5YzMyMTk1Y2YwMDU0NjY2M2M1NTQ2YjM4ZWVjMWRiZWJjNTY4Mjlh
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token":"XXXXOH2Vr9DI1B1tG160102Y6925","expiresIn":86400}'
  recorded_at: Sat, 30 Jan 2021 10:30:52 GMT
- request:
    method: post
    uri: https://plus.dnb.com/v1/monitoring/registrations/MDOJO_CMPTCS_01/duns/216832106
    body:
      encoding: UTF-8
      string: '{"customerReference":"12345"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer XXXXH2Vr9DI1B1tG160102Y6925
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"transactionDetail":{"transactionID":"rrt-0cba0815aed77662f-c-eu-7495-59212532-33","transactionTimestamp":"2021-01-30T10:30:52.078Z","inLanguage":"en-US"},"information":{"code":"21113","message":"Requested
        duns added to registration successfully."}}'
  recorded_at: Sat, 30 Jan 2021 10:30:55 GMT
recorded_with: VCR 6.0.0
