---
http_interactions:
- request:
    method: post
    uri: https://plus.dnb.com/v2/token
    body:
      encoding: UTF-8
      string: '{ "grant_type" : "client_credentials" }'
    headers:
      Authorization:
      - Basic XXXXZTUwNjIwZDI0NGQ0OGExYTNjNTYxYjU0MzU0ODE3M2QxZDE3YTdkYzY0ODIxYmM0ZDYzZjRiYTMxMDc2ZTpkOTY0ZDdlMTkzNzI0NDM4OWVjNjBhYzQ5YzMyMTk1Y2YwMDU0NjY2M2M1NTQ2YjM4ZWVjMWRiZWJjNTY4Mjlh
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token":"XXXX417x1168sTr076FgW4H59E94","expiresIn":86400}'
  recorded_at: Wed, 27 Jan 2021 13:38:10 GMT
- request:
    method: get
    uri: https://plus.dnb.com/v1/monitoring/registrations/MDOJO_CMPTCS_01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer XXXX417x1168sTr076FgW4H59E94
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"transactionDetail":{"transactionID":"rrt-0daa1ee1e57942d41-b-eu-10745-51724582-2","transactionTimestamp":"2021-01-27T13:38:11.073Z","inLanguage":"en-US"},"inquiryDetail":{"reference":"MDOJO_CMPTCS_01"},"messages":{"notificationsSuppressed":false,"registration":{"reference":"MDOJO_CMPTCS_01","destination":{"type":"STP"},"productId":"cmptcs","versionId":"v1","email":"admin@acme.com,info@acme.com,support@acme.com,test@dnb.com","seedData":true,"fileTransferProfile":"ukcclass","description":"Market
        Dojo Jan 21 CMPTCS","createdDate":"2021-01-27 11:52:18","lastUpdatedDate":"2021-01-27T12:05:54Z","thresholds":[],"orderReason":"6332","deliveryTrigger":"API_PULL","deliveryFrequency":"DAILY","notificationType":"UPDATE"},"state":"CURRENT"}}'
  recorded_at: Wed, 27 Jan 2021 13:38:11 GMT
recorded_with: VCR 6.0.0
