---
http_interactions:
- request:
    method: post
    uri: https://plus.dnb.com/v2/token
    body:
      encoding: UTF-8
      string: '{ "grant_type" : "client_credentials" }'
    headers:
      Authorization:
      - Basic XXXXZTUwNjIwZDI0NGQ0OGExYTNjNTYxYjU0MzU0ODE3M2QxZDE3YTdkYzY0ODIxYmM0ZDYzZjRiYTMxMDc2ZTpkOTY0ZDdlMTkzNzI0NDM4OWVjNjBhYzQ5YzMyMTk1Y2YwMDU0NjY2M2M1NTQ2YjM4ZWVjMWRiZWJjNTY4Mjlh
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token":"XXXXY33E003R441gZ7T166i88104","expiresIn":86400}'
  recorded_at: Sat, 30 Jan 2021 11:06:47 GMT
- request:
    method: get
    uri: https://plus.dnb.com/v1/monitoring/registrations/MDOJO_CMPTCS_01/notifications
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer XXXXX33E003R441gZ7T166i88104
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"transactionDetail":{"transactionID":"rrt-0daa1ee1e57942d41-b-eu-10744-52962362-14","transactionTimestamp":"2021-01-30T11:06:47.941Z","inLanguage":"en-US"},"inquiryDetail":{"reference":"MDOJO_CMPTCS_01"},"notifications":[{"type":"UPDATE","organization":{"duns":"213310873"},"elements":[{"element":"organization.dnbAssessment.standardRating.scoreDate","previous":"2021-01-23","current":"2021-01-26","timestamp":"2021-01-27T01:23:13Z"},{"element":"organization.dnbAssessment.creditLimitRecommendation.assessmentDate","previous":"2021-01-23","current":"2021-01-26","timestamp":"2021-01-27T01:23:13Z"},{"element":"organization.businessTrading","previous":[{"summaryDate":"2021-01-01","currency":"GBP","summary":[{"dataCoverage":{"description":"12
        Months","dnbCode":19167},"paydexScore":79,"threeMonthsPriorPaydexScore":79,"paymentBehaviorDays":1,"paymentBehaviorResult":{"description":"Beyond
        terms","dnbCode":1239},"totalExperiencesCount":116,"totalExperiencesAmount":3.0251016094E8,"averageHighCreditAmount":2607846.21,"maximumHighCreditAmount":7.0E7,"maximumOwedAmount":6.0E7,"maximumPastDueAmount":6000000,"totalPastDueAmount":9646790.06,"totalPastDueExperiencesCount":33,"negativeExperiencesAmount":null,"negativePaymentsCount":null,"satisfactoryExperiencesAmount":2.9341782162E8,"satisfactoryExperiencesCount":79,"slowExperiencesAmount":9092339.31,"slowExperiencesCount":37,"slowOrNegativePaymentsCount":37,"slowOrNegativePaymentsPercentage":31.9}]}],"current":[{"summaryDate":"2021-01-01","currency":"GBP","summary":[{"dataCoverage":{"description":"12
        Months","dnbCode":19167},"paydexScore":79,"threeMonthsPriorPaydexScore":79,"paymentBehaviorDays":1,"paymentBehaviorResult":{"description":"Beyond
        terms","dnbCode":1239},"totalExperiencesCount":116,"totalExperiencesAmount":3.0287297782E8,"averageHighCreditAmount":2610973.95,"maximumHighCreditAmount":7.0E7,"maximumOwedAmount":6.0E7,"maximumPastDueAmount":6000000,"totalPastDueAmount":9646790.06,"totalPastDueExperiencesCount":33,"negativeExperiencesAmount":null,"negativePaymentsCount":null,"satisfactoryExperiencesAmount":2.9378063851E8,"satisfactoryExperiencesCount":79,"slowExperiencesAmount":9092339.31,"slowExperiencesCount":37,"slowOrNegativePaymentsCount":37,"slowOrNegativePaymentsPercentage":31.9}]}],"timestamp":"2021-01-27T02:34:56Z"},{"element":"organization.dnbAssessment.delinquencyScore.scoreDate","previous":"2021-01-23","current":"2021-01-26","timestamp":"2021-01-27T01:23:13Z"},{"element":"organization.dnbAssessment.failureScore.scoreDate","previous":"2021-01-23","current":"2021-01-26","timestamp":"2021-01-27T01:23:13Z"}],"deliveryTimeStamp":"2021-01-30T11:06:48.292Z"}]}'
  recorded_at: Sat, 30 Jan 2021 11:06:48 GMT
recorded_with: VCR 6.0.0
